################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DoAn/FileContentIndex/3cfb33e1-7dd1-469f-8533-44a0672229c3.vsidx
/.vs/DoAn/FileContentIndex
