{% extends "base.html" %}

{% block title %}Bản đồ{% endblock %}

{% block content %}
<iframe class="map" src="https://www.openstreetmap.org/export/embed.html?bbox=104.01443481445314%2C8.483238563913513%2C106.30783081054689%2C9.690105836991949&amp;layer=mapnik" style="border: 1px solid black"></iframe><br /><h3><a href="https://www.openstreetmap.org/?#map=10/9.0872/105.1611">Xem Bản đồ Rộng hơn</a></h3>
<img src="static/images/ban-do-hanh-chinh-new.jpg" alt="Bản đồ hành chính" class="map">
<h3 class="white-text">Bản đồ hành chính</h3>
{% endblock %}