{% extends "base.html" %}

{% block title %}Các dịch vụ vận tải của chúng tôi{% endblock %}

{% block content %}
<h2 class="section-title">Các dịch vụ vận tải của chúng tôi</h2>
<div class="tabs">
    <button class="tab-button active" data-tab="d1">Xe buýt</button>
    <button class="tab-button" data-tab="d2">Tàu thủy</button>
    <button class="tab-button" data-tab="d3">Xe ôm</button>
</div>

<!-- Tab Content Containers -->
<div id="d1" class="attraction-grid content-section active">
    <!-- Thẻ 1 -->
    <article class="card">
        <img src="static/images/Muicamau.jpg" alt="Mũi Cà Mau">
        <div class="card-content">
            <h3>Đi Đất Mũi</h3>
            <p>Hạng cao cấp: 300.000 Đồng / 1 người, 300.000 Đồng / 1 trẻ con</p>
            <a href="" class="cta-button">Đặt vé ngay</a>
            <p>Hạng thường: 300.000 Đồng / 1 người, 300.000 Đồng / 1 trẻ con</p>
            <a href="" class="cta-button">Đặt vé ngay</a>
        </div>
    </article>
    <!-- Thẻ 2 -->
    <article class="card">
        <img src="static/images/10000000000002800000017ED4C676EA.jpg" alt="Rừng U Minh Hạ">
        <div class="card-content">
            <h3>Đi U Minh Hạ</h3>
            <p>Hạng cao cấp: 300.000 Đồng / 1 người, 300.000 Đồng / 1 trẻ con</p>
            <a href="" class="cta-button">Đặt vé ngay</a>
            <p>Hạng thường: 300.000 Đồng / 1 người, 300.000 Đồng / 1 trẻ con</p>
            <a href="" class="cta-button">Đặt vé ngay</a>
        </div>
    </article>
    <!-- Thẻ 3 -->
    <article class="card">
        <img src="static/images/10000000000002BC000001D5EE5A9E3C.jpg" alt="Khu du lịch biển Khai Long">
        <div class="card-content">
            <h3>Đi Khai Long</h3>
            <p>Hạng cao cấp: 300.000 Đồng / 1 người, 300.000 Đồng / 1 trẻ con</p>
            <a href="" class="cta-button">Đặt vé ngay</a>
            <p>Hạng thường: 300.000 Đồng / 1 người, 300.000 Đồng / 1 trẻ con</p>
            <a href="" class="cta-button">Đặt vé ngay</a>
        </div>
    </article>
</div>

<div id="d2" class="attraction-grid content-section">
    <!-- Thẻ 1 -->
    <article class="card">
        <img src="static/images/10000000000004000000028A8BFA609D.jpg" alt="Mũi Cà Mau">
        <div class="card-content">
            <h3>Đi Đất Mũi</h3>
            <p>Hạng cao cấp: 300.000 Đồng / 1 người, 300.000 Đồng / 1 trẻ con</p>
            <a href="" class="cta-button">Đặt vé ngay</a>
            <p>Hạng thường: 300.000 Đồng / 1 người, 300.000 Đồng / 1 trẻ con</p>
            <a href="" class="cta-button">Đặt vé ngay</a>
        </div>
    </article>
    <!-- Thẻ 2 -->
    <article class="card">
        <img src="static/images/10000000000004920000030DE1F06D25.jpg" alt="Rừng U Minh Hạ">
        <div class="card-content">
            <h3>Đi U Minh Hạ</h3>
            <p>Hạng cao cấp: 300.000 Đồng / 1 người, 300.000 Đồng / 1 trẻ con</p>
            <a href="" class="cta-button">Đặt vé ngay</a>
            <p>Hạng thường: 300.000 Đồng / 1 người, 300.000 Đồng / 1 trẻ con</p>
            <a href="" class="cta-button">Đặt vé ngay</a>
        </div>
    </article>
    <!-- Thẻ 3 -->
    <article class="card">
        <img src="static/images/10000000000002BC000001C2B59F257C.jpg" alt="Khu du lịch biển Khai Long">
        <div class="card-content">
            <h3>Đi Khai Long</h3>
            <p>Hạng cao cấp: 300.000 Đồng / 1 người, 300.000 Đồng / 1 trẻ con</p>
            <a href="" class="cta-button">Đặt vé ngay</a>
            <p>Hạng thường: 300.000 Đồng / 1 người, 300.000 Đồng / 1 trẻ con</p>
            <a href="" class="cta-button">Đặt vé ngay</a>
        </div>
    </article>
</div>

<div id="d3" class="attraction-grid content-section">
    <h3>Số điện thoại: (Cứ tưởng tượng đây là Số điện thoại)</h3>
    <!-- Thẻ 1 -->
    <article class="card">
        <img src="static/images/1000000000000258000001C279F27EDD.jpg" alt="Nội thành">
        <div class="card-content">
            <h3>Trong Thành phố Cà Mau</h3>
            <p>Dưới hoặc bằng 10 km: 300.000 Đồng / 1 người / 1 km</p>
            <p>Trên 10 km: 300.000 Đồng / 1 người / 1 km</p>
        </div>
    </article>
    <!-- Thẻ 2 -->
    <article class="card">
        <img src="static/images/10000000000002BC000001C2B59F257C.jpg" alt="Rừng U Minh Hạ">
        <div class="card-content">
            <h3>Ngoài Thành phố Cà Mau</h3>
            <p>Dưới hoặc bằng 10 km: 300.000 Đồng / 1 người / 1 km</p>
            <p>Trên 10 km: 300.000 Đồng / 1 người / 1 km</p>
        </div>
    </article>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/DichVu.js') }}"></script>
{% endblock %}