{% extends "base.html" %}

{% block title %}Các cách thức di chuyển đến Cà Mau{% endblock %}

{% block content %}
<div class="tabs">
    <button class="tab-button active" data-tab="d1">Xe khách</button>
    <button class="tab-button" data-tab="d2">Máy bay</button>
    <button class="tab-button" data-tab="d3">Đường</button>
</div>

<!-- Tab Content Containers -->
<div id="d1" class="LonAd content-section active">
    <h2>Xe khách Tuấn Hưng</h2>
    <p>Tuấn Hưng có quy mô xe lớn, có hệ thống dòng xe limousine đời mới, hiện đại trên tuyến. Đem lại sự sang trọng và đầy đủ tiện ích như ghế nằm, nước uống, máy lạnh...</p>
    <p><strong>Chạy tuyến:</strong> Năm Căn - Cái Nước - Phú Tân - Cà Mau - Bạc Liêu - Cần Thơ - Sài Gòn </p>
    <p><strong>TP.HCM:</strong> (028)39636363</p>
    <p><strong>Cà Mau:</strong> (0290)3667788</p>
    <a href="https://xekhachtuanhung.com/" target="_blank" class="cta-button">Tìm hiểu ngay</a>
    <h2>Xe Hảo</h2>
    <p>Xe khách Hảo - Xe Hảo dịch vụ vận chuyển hành khách , hàng hoá từ: TP.HỒ CHÍ MINH - BẠC LIÊU. TP.HỒ CHÍ MINH - CÀ MAU.</p>
    <p><strong>Chạy tuyến:</strong> TP.HỒ CHÍ MINH - BẠC LIÊU, TP.HỒ CHÍ MINH - CÀ MAU </p>
    <p><strong>SĐT:</strong> 0888888888</p>
    <a href="https://xekhachhao.com/" target="_blank" class="cta-button">Tìm hiểu ngay</a>
</div>

<div id="d2" class="LonAd content-section">
    <h2>Vietnam Airlines</h2>
    <p><strong>Thành phố Hồ Chí Minh - Cà Mau (Bay thẳng):</strong> Khoảng 1 tiếng 10 phút, 1 chuyến/ngày.</p>
    <p> Vào thời điểm hiện tại, vé máy bay đi Cà Mau đi đang được mở bán ở mức từ 1.206.000 VND/chiều (tùy thuộc vào điểm khởi hành), đã bao gồm thuế phí.</p>
    <a href="https://www.vietnamairlines.com/vi-vn/v%C3%A9-m%C3%A1y-bay-%C4%91%E1%BA%BFn-c%C3%A0-mau" target="_blank" class="cta-button">Tìm hiểu ngay</a>
</div>

<div id="d3" class="LonAd content-section">
    <h2>Xe Ôm Generic Logistit</h2>
    <p>Dịch vụ vận chuyển hành khách và giao hàng siêu tốc trong và ngoài TP.CÀ MAU.</p>
    <p><strong>Khu vực hoạt động</strong>: Tỉnh Cà Mau và Kiên Giang</p>
    <p>Đặt xe: 0888888888</p>
    <a href="DichVu.html" target="_blank" class="cta-button">Tìm hiểu ngay</a>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/DiChuyen.js') }}"></script>
{% endblock %}